<div class="container">
  <div class = "shadow" style="padding-left: 0px;  padding-right: 0px;">
    <img src="assets/images/home_banner.jpg" class="img-fluid">
  </div>
  <br><br>
  <div> 
    <h4>Diabetic Retinopathy</h4>
    <p>Diabetic retinopathy affects up to 80 percent of those who have had diabetes for 20 years or more.</p>
    <p>The longer a person has diabetes, the higher his or her chances of developing diabetic retinopathy.</p>
    <p><b>It is a leading cause of blindness.</b></p>
    <p>At least 90% of new cases could be reduced with proper treatment and monitoring of the eyes.</p>
  </div>
</div>
